
﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Torres_de_Hanoi/v16/Browse.VC.opendb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#Visual Studio files
*.user
*.lastbuildstate
*.tlog
*.ilk
*.idp
*.pdb
*.ilk
*.db
*.json
*.sqlite
*.opendb
*.suo
*.VC.db-shm
*.VC.db-wal
*.recipe
*.idb
*.log
*.sqlite-journal
/Debug/Scores.txt
